body{   
    margin:0px;
    background-color: whitesmoke;/*#010f23*/
}

nav{
    background-color: #404040;
    width : 100%;
    height:60px;
    border-top:3px solid whitesmoke;
    /*box-shadow: 2px 2px;*/
}
#navBar{
    float: left;
    width: 500px;
    height: 50px; 
}

#navBar ul{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#navBar ul li{
    float: left;
    margin-left:20px;
    margin-top: 20px;
}

li a{
    float: left;
    text-align:center;

}

a:link {
    color: whitesmoke;
}


a:visited {
    color: rgb(185, 217, 237);
}


a:hover {
    color: #F1A3A5;
}


a:active {
    color: black;
}

.icons{
    float:right;
    margin: 20px 110px 0px 0px;
    font-size:24px;
    color:whitesmoke;
}